<h1>{{title}}</h1>
<div class="post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <small>Posted by {{user.username}} on {{format_date createdAt}}</small>
</div>

<script src="/js/logout.js"></script>
